@page "/dashboard"
<h1>Dashboard</h1>

<div class="card">

    <p>Dashboard page functionalties</p>

    <ul>
        <li>Reports</li>
        <li>Open Assignment/Progress</li>
        <li>Completed Assignment</li>
        <li>Overdue Items</li>
        <li>Directory</li>
    </ul>

    <p>
        This classroom version uses sample authentication only.
    </p>

</div>